<form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value, loginForm.valid)">
    <div class="col-md-12">
        <div class="col-md-4">
            <label>Name</label>
        </div>
        <div class="col-md-8">
            <input id="name" type="text" formControlName="login" />
        </div>
    </div>

    <div class="col-md-12">
        <div class="col-md-4">
            <label>Password:</label>
        </div>
        <div class="col-md-8">
            <input type="text" id="password" formControlName="password"/>
        </div>
    </div>

    <div class="col-md-12">
        <div class="col-md-4">
        </div>
        <div class="col-md-8">
            <button type="submit" class="btn btn-info">Login</button>
        </div>
    </div>
</form>